<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>Location Selection</title>
  </head>
  <body>
    <form action="" method="post" id = "select_form">
        {% csrf_token %}
      <div class="form-group" >
        {{form.location}}
      </div>
      {{form.begin_time}}
      {{form.end_time}}
      <button type="submit">submit</button>
      <a href="?clear=1">reset</a>
    </form>
    <table class="table table-secondary table-striped">
      <thead>
          <tr>
              <th>Node ID</th>
              <th>Location</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Light</th>
              <th>Sound</th>
              <th>Created Date</th>
          </tr>
      </thead>
      <tbody>
          {% for entry in select_data%}
          <tr>
              <td>{{entry.node_id}}</td>
              <td>{{entry.loc}}</td>
              <td>{{entry.temp}}</td>
              <td>{{entry.hum}}</td>
              <td>{{entry.light}}</td>
              <td>{{entry.snd}}</td>
              <td>{{entry.date_created}}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  </body>
</html>
